<launch>

  <!-- rosbag play -->
  <arg name="bag"/>
  <arg name="start"/>
  <param name="use_sim_time" value="true"/>
  <node pkg="rosbag" type="play" name="rosbag_play" args="-r 1.0 --clock $(arg bag) -s $(arg start)" required="true"/>

  <node pkg="velodyne_pointcloud" type="cloud_node" name="cloud_node">
    <param name="calibration" value="$(env PWD)/32db.yaml"/>
    <param name="min_range" value="0.4"/>
    <param name="max_range" value="130.0"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="static_tf_map_to_velodyne" args="0 0 0 0 0 0 map velodyne 100"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(env PWD)/velodyne_lifelong.rviz"/>

</launch>
